@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Darker+Grotesque:wght@500&family=Lilita+One&family=Poppins:wght@500&display=swap');

p{
    width: 300px;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
}


